.solar-container {
  position: relative;
  height: 150px;
  /* background-color: black; */
  /* margin-bottom: 10px; */
}

.solar-container .line {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #000000;
  left: -190px;
  right: -190px;
}

.solar-container .line:nth-child(1) {
  top: 10px;
}

.solar-container .line:nth-child(2) {
  top: 10px;
}

.solar-container .line:nth-child(3) {
  top: 30px;
}

.solar-container .line:nth-child(4) {
  top: 50px;
}

.solar-container .line:nth-child(5) {
  top: 70px;
}

.solar-container .line:nth-child(6) {
  top: 90px;
}

.solar {
  position: relative;
  top: 10px;
  left: 20px;
  display: flex;
  justify-content: flex-start;
}

.panel {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  height: 60px;
  width: 250px;
  margin-left: -200px;
  background-color: #ad6d6e;
  z-index: 2;
}

.square {
  background-color: #ad6d6e;
  border: 1px solid #7b5d57;
  box-shadow: inset 2px 4px #11101080, inset 2px -4px #00000033;
  border-radius: 2px;
}
